<link rel="stylesheet" href="/css/passphrase.css">
<div class="page__container">
    <div class="logos">
        <p class="logo__text">OMail</p>
        <span class="logo__text">Signup to keep your<br>Emails Private</span>
        <div class="letter__logo__container"><img src="/assets/signupLetter.svg"></div>
        <div class="clock__logo">
            <div class="logo__and__text">
                <img src="/assets/clock.svg" alt="clock logo">
                <span>It Takes less than 60 seconds</span>
            </div>
            <div class="signup__btn logo__text">Signup</div>
        </div>
    </div>
    <div class="pass__pharse__container">
        <div class="ziroh__logo">
            <img src="https://ziroh.com/images/logo-1.png" alt="ziroh labs logo">
        </div>
        <span>Enter the Passphrase to View your Email</span>
        <input type="text">
        <div class="view__btn logo__text">View</div>
    </div>
</div>

<script src="/scripts/passphrase.js"></script>